* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

}

:root {
  --yellow: #ffcc29;
  --blue: #1d539e;
  --gray: #828799;
  --page-background: #f9fbfc;
}


/*WELLCOME CONTAINER STYLE START*/

.container {
  display: grid;
}

.welcome {
  display: flex;
  position: absolute;
  width: 100%;
}

.know {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: #1d539e;
}

.know h1 {
  font-size: 75px;
  font-weight: 500;

  margin-bottom: 30px;
  color: aliceblue;
}

.know p {
  text-align: center;
  color: aliceblue;
  font-size: 25px;
  font-style: italic;
}

/*CARDS PLANS BOX STYLE START*/
.container2 {
  position: relative;
  bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;

  width: 350px;
  height: 450px;
  box-shadow: #828799 1px 2px 2px 1px;
  background-color: aliceblue;
  border-radius: 10px;
  box-sizing: border-box;
  margin-right: 70px;
  margin-left: 70px;
  transform: scale();
}

.card:hover {
  transform: scale(1.1);
}

.plans {
  padding: 25px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}



.plans:hover {
  background-color: #ffcc29;
  border-radius: 5px;
}

.box1,
.box2,
.box3 {
  padding: 5px 25px;

}

.box1 h3,
.box2 h3,
.box3 h3 {
  font-size: 35px;
}

.box1 h3 span,
.box2 h3 span,
.box3 h3 span {
  font-size: 25px;
  color: #828799;
}

.box1 h3 i,
.box2 h3 i,
.box3 h3 i {
  font-size: 25px;
  color: black;
  font-style: normal;
}

.box1 p,
.box2 p,
.box3 p {
  font-size: 15px;
  font-weight: 600;
  color: #828799;
  padding-top: 19px;
  padding-bottom: 15px;
}


.box1 h4,
.box2 h4,
.box3 h4 {
  font-size: 18px;
  padding-bottom: 10px;
  color: #828799;
}

.box1 h4 span,
.box2 h4 span,
.box3 h4 span {
  color: rgb(43, 255, 0);
  font-weight: 600;
}

.box1 h4 i,
.box2 h4 i,
.box3 h4 i {
  color: red;
  font-weight: 600;
}



.btn {
  width: 50%;
  height: 13%;
  border: #1d539e solid 1px;
  border-radius: 7px;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  margin: 10% 25%;
}

.btn:hover {
  cursor: pointer;
  background-color: #1d539e;
  color: aliceblue;
}